guardian/version.py
*.pyc
*.log
*.egg
*.egg-info
*.swp
*.bak
*.db
*.orig
build
_build
dist
.DS_Store
.coverage
.hgignore
.tox
.ropeproject
.venv
venv

example_project/media
example_project/conf/*.py
example_project_custom_group/media
example_project_custom_group/conf/*.py
.idea/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/

# WebDAV remote filesystem
.DAV
.project
.pydevproject

# Local virtual environments
.venv

# Documentation
site*/
