guardian/version.py
*.pyc
*.log
*.egg
*.egg-info
*.swp
*.bak
*.db
*.orig
build
_build
dist
.DS_Store
.coverage
.hgignore
.tox
.ropeproject

example_project/media
example_project/conf/*.py
.idea/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/

# WebDAV remote filesystem
.DAV
.project
.pydevproject
