language: python
sudo: false
python:
 - 2.7
 - 3.3
 - 3.4
 - 3.5

env:
 - DJANGO_VERSION=1.7.10 DATABASE_URL=postgres://postgres@/django_guardian
 - DJANGO_VERSION=1.8.7 DATABASE_URL=postgres://postgres@/django_guardian
 - DJANGO_VERSION=1.9.1 DATABASE_URL=postgres://postgres@/django_guardian
 - DJANGO_VERSION=1.7.10 DATABASE_URL=mysql://root:@localhost/django_guardian
 - DJANGO_VERSION=1.8.7 DATABASE_URL=mysql://root:@localhost/django_guardian
 - DJANGO_VERSION=1.9.1 DATABASE_URL=mysql://root:@localhost/django_guardian
 - DJANGO_VERSION=1.7.10 DATABASE_URL=sqlite://
 - DJANGO_VERSION=1.8.7 DATABASE_URL=sqlite://
 - DJANGO_VERSION=1.9.1 DATABASE_URL=sqlite://

install:
  - travis_retry pip install -q mock==1.0.1 Django==$DJANGO_VERSION coverage coveralls
# Install database drivers
  - bash -c "if [[ $DATABASE_URL = postgres* ]]; then pip install psycopg2==2.6.1; fi; "
  - bash -c "if [[ $DATABASE_URL = mysql* ]]; then pip install mysqlclient==1.3.7; fi; "

script:
  - coverage run --source=guardian setup.py test

after_success:
  - coverage report --omit "guardian/compat.py,guardian/testapp/testsettings.py" -m guardian/*.py
  - coveralls

notifications:
  irc: "irc.freenode.net#django-guardian"


matrix:
    exclude:
        # Drop python 3.3 and django 1.9
        - python: 3.3
          env: DJANGO_VERSION=1.9.1 DATABASE_URL=postgres://postgres@/django_guardian
        - python: 3.3
          env: DJANGO_VERSION=1.9.1 DATABASE_URL=mysql://root:@localhost/django_guardian
        - python: 3.3
          env: DJANGO_VERSION=1.9.1 DATABASE_URL=sqlite://
        # Drop python 3.5 and django 1.7
        - python: 3.5
          env: DJANGO_VERSION=1.7.10 DATABASE_URL=postgres://postgres@/django_guardian
        - python: 3.5
          env: DJANGO_VERSION=1.7.10 DATABASE_URL=mysql://root:@localhost/django_guardian
        - python: 3.5
          env: DJANGO_VERSION=1.7.10 DATABASE_URL=sqlite://
        # Drop python 3.3 with postgres due lack of driver
        - python: 3.3
          env: DJANGO_VERSION=1.7.10 DATABASE_URL=postgres://postgres@/django_guardian
        - python: 3.3
          env: DJANGO_VERSION=1.8.7 DATABASE_URL=postgres://postgres@/django_guardian
        - python: 3.3
          env: DJANGO_VERSION=1.9.1 DATABASE_URL=postgres://postgres@/django_guardian
