language: python
dist: xenial

cache: pip

install:
  - ./contrib/travis/install.sh

script:
  - ./contrib/travis/test.sh

notifications:
  irc: "irc.freenode.net#django-guardian"

templates:
  django22: &django22 DJANGO_VERSION=2.2.*
  django30: &django30 DJANGO_VERSION=3.0.*
  django31: &django31 DJANGO_VERSION=3.1.*
  djangomaster: &djangomaster DJANGO_VERSION=master

  postgres: &postgres DATABASE_URL=postgres://postgres@/django_guardian
  mysql: &mysql DATABASE_URL=mysql://root:@localhost/django_guardian
  sqlite: &sqlite  DATABASE_URL=sqlite://

  pgdb: &pgdb
    addons: {postgresql: "10"}
  mariadb: &mariadb
    addons: {mariadb: "10.3"}


matrix:
  fast_finish: true
  include:
    - { python: 3.5, env: [*django22, *postgres], <<: *pgdb}
    - { python: 3.5, env: [*django22, *mysql], <<: *mariadb}
    - { python: 3.5, env: [*django22, *sqlite]}

    - { python: 3.6, env: [*django22, *postgres], <<: *pgdb}
    - { python: 3.6, env: [*django22, *mysql], <<: *mariadb}
    - { python: 3.6, env: [*django22, *sqlite]}
    - { python: 3.6, env: [*django30, *postgres], <<: *pgdb}
    - { python: 3.6, env: [*django30, *mysql], <<: *mariadb}
    - { python: 3.6, env: [*django30, *sqlite]}
    - { python: 3.6, env: [*django31, *postgres], <<: *pgdb}
    - { python: 3.6, env: [*django31, *mysql], <<: *mariadb}
    - { python: 3.6, env: [*django31, *sqlite]}
    - { python: 3.6, env: [*djangomaster, *postgres], <<: *pgdb}
    - { python: 3.6, env: [*djangomaster, *mysql], <<: *mariadb}
    - { python: 3.6, env: [*djangomaster, *sqlite]}

    - { python: 3.7, env: [*django22, *postgres], <<: *pgdb}
    - { python: 3.7, env: [*django22, *mysql], <<: *mariadb}
    - { python: 3.7, env: [*django22, *sqlite]}
    - { python: 3.7, env: [*django30, *postgres], <<: *pgdb}
    - { python: 3.7, env: [*django30, *mysql], <<: *mariadb}
    - { python: 3.7, env: [*django30, *sqlite]}
    - { python: 3.7, env: [*django31, *postgres], <<: *pgdb}
    - { python: 3.7, env: [*django31, *mysql], <<: *mariadb}
    - { python: 3.7, env: [*django31, *sqlite]}
    - { python: 3.7, env: [*djangomaster, *postgres], <<: *pgdb}
    - { python: 3.7, env: [*djangomaster, *mysql], <<: *mariadb}
    - { python: 3.7, env: [*djangomaster, *sqlite]}

    - { python: 3.8, env: [*django22, *postgres], <<: *pgdb}
    - { python: 3.8, env: [*django22, *mysql], <<: *mariadb}
    - { python: 3.8, env: [*django22, *sqlite]}
    - { python: 3.8, env: [*django30, *postgres], <<: *pgdb}
    - { python: 3.8, env: [*django30, *mysql], <<: *mariadb}
    - { python: 3.8, env: [*django30, *sqlite]}
    - { python: 3.8, env: [*django31, *postgres], <<: *pgdb}
    - { python: 3.8, env: [*django31, *mysql], <<: *mariadb}
    - { python: 3.8, env: [*django31, *sqlite]}
    - { python: 3.8, env: [*djangomaster, *postgres], <<: *pgdb}
    - { python: 3.8, env: [*djangomaster, *mysql], <<: *mariadb}
    - { python: 3.8, env: [*djangomaster, *sqlite]}
  allow_failures:
    - env: [*djangomaster, *postgres]
    - env: [*djangomaster, *mysql]
    - env: [*djangomaster, *sqlite]
