<div class="row{% if field.errors %} errors{% endif %}">
    {% if field.errors %}
    <ul class="errorlist">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="column span-4">
        <label for="{{ field.auto_id }}" class="required">{{ field.label }}</label>
    </div>
    <div class="column span-flexible">
        {{ field }}
        {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
    </div>
</div>

