{% extends "base.html" %}

{% load guardian_tags %}

{% block col-left-title %}Pages{% endblock %}
{% block col-left-content %}
    <h3>Pages</h3>
    <ul class="nav-vertical">
        <li><a href="{% url home %}">Home</a></li>
        {% for flatpage in flats %}
        <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
        {% endfor %}
    </ul>

    <hr/>

    {% get_obj_perms request.user for flatpage as "flatpage_perms" %}

    <h3>Your permissions</h3>
    <ul>
        {% for perm in flatpage_perms %}
        <li>{{ perm }}</li>
        {% empty %}
        <li>None</li>
        {% endfor %}
    </ul>

    {% if flatpage_perms %}
    <hr/>
    <h3>Actions</h3>
    <ul class="nav-vertical">
        {% if "change_flatpage" in flatpage_perms %}
        <li><a href="#edit?target={{ flatpage.url }}"
               class="show-tipsy-right"
               title="It's just a dummy anchor - it won't take you anywhere">Edit</a></li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block col-main-title %}{{ flatpage.title }}{% endblock %}
{% block col-main-content %}
{{ flatpage.content }}
{% endblock %}

