{% extends "richtemplates/layout/menu_top.html" %}
{% load i18n %}

{% block menu_top_left %}
    <li><a href="/">Home</a></li>
{% endblock %}

{% block menu_top_right %}
    <li>
    {% if not user.is_authenticated %}
        <a href="{% url auth_login %}">{% trans "Login" %}</a>
    {% else %}
        <a href="{% url auth_logout %}">{% trans "Logout" %}</a>
    {% endif %}
    </li>
    {% if user.is_authenticated and user.is_staff %}
    <li><a href="{% url admin:index %}">Admin panel</a></li>
    {% endif %}
    <li>{% trans "Logged as" %} <a href="{{ user.get_absolute_url }}"
        class="show-tipsy-bottom"
        title="{% trans "Show user's public profile" %}">{{ user }}</a></li>
{% endblock %}

